# Entornos virtuales
.venv/
venv/
env/

# Archivos de dependencias compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Configuración de VSCode
.vscode/
*.code-workspace

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de salida y logs
*.log
*.out
*.tmp
