
# Entornos virtuales
env/
venv/
ven/

# Archivos de logs
*.log

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de VS Code
.vscode/
